<mat-card>
  <mat-card-header>
    <h2>Add Product item</h2>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="outline" class="text-field">
      <mat-label>ID</mat-label>
      <input matInput [(ngModel)]="id" placeholder="Enter ID" value="" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="text-field">
      <mat-label>Product Name</mat-label>
      <input
        matInput
        [(ngModel)]="name"
        placeholder="Enter Product Name"
        value=""
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="text-field">
      <mat-label>Price</mat-label>
      <input matInput [(ngModel)]="price" placeholder="Enter Price" value="" />
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions class="action-btn-section">
    <button mat-stroked-button class="action-btn" (click)="handleOnClose()">
      Cancel
    </button>
    <button mat-flat-button class="action-btn" (click)="handleOnAdd()">
      Add
    </button>
  </mat-card-actions>
</mat-card>
