
.text-field {
    width: 100%;
}

.action-btn {
    width: 100px;
}

.action-btn-section {
    gap: 1rem;
    display: flex;
    flex-direction: row-reverse;
}

.header-section {
    display: flex;
    justify-content: space-between;
    margin: 15px 
}

.close-btn {
    cursor: pointer;
}

.title-popup {
    font-size: 27px;
    font-weight: 550;
}

.popup-section {
    padding: 5px;
}